$border-widths: (
  0: 0px,
  2: 2px,
  4: 4px,
  8: 8px,
);

$rounded-corners: (
  "l-xl": 0.75rem, /* 12px */
  "l-2xl": 1rem, /* 16px */
  "l-3xl": 1.5rem, /* 24px */
  "l-full": 9999px,
  "ss-none": 0px,
  "ss-sm": 0.125rem, /* 2px */
  "ss": 0.25rem, /* 4px */
  "ss-md": 0.375rem, /* 6px */
  "ss-lg": 0.5rem, /* 8px */
  "ss-xl": 0.75rem, /* 12px */
  "ss-2xl": 1rem, /* 16px */
  "ss-3xl": 1.5rem, /* 24px */
  "ss-full": 9999px,
  "se-none": 0px,
  "se-sm": 0.125rem, /* 2px */
  "se": 0.25rem, /* 4px */
  "se-md": 0.375rem, /* 6px */
  "se-lg": 0.5rem, /* 8px */
  "se-xl": 0.75rem, /* 12px */
  "se-2xl": 1rem, /* 16px */
  "se-3xl": 1.5rem, /* 24px */
  "se-full": 9999px,
  "ee-none": 0px,
  "ee-sm": 0.125rem, /* 2px */
  "ee": 0.25rem, /* 4px */
  "ee-md": 0.375rem, /* 6px */
  "ee-lg": 0.5rem, /* 8px */
  "ee-xl": 0.75rem, /* 12px */
  "ee-2xl": 1rem, /* 16px */
  "ee-3xl": 1.5rem, /* 24px */
  "ee-full": 9999px,
  "es-none": 0px,
  "es-sm": 0.125rem, /* 2px */
  "es": 0.25rem, /* 4px */
  "es-md": 0.375rem, /* 6px */
  "es-lg": 0.5rem, /* 8px */
  "es-xl": 0.75rem, /* 12px */
  "es-2xl": 1rem, /* 16px */
  "es-3xl": 1.5rem, /* 24px */
  "es-full": 9999px,
  "tl-none": 0px,
  "tl-sm": 0.125rem, /* 2px */
  "tl": 0.25rem, /* 4px */
  "tl-md": 0.375rem, /* 6px */
  "tl-lg": 0.5rem, /* 8px */
  "tl-xl": 0.75rem, /* 12px */
  "tl-2xl": 1rem, /* 16px */
  "tl-3xl": 1.5rem, /* 24px */
  "tl-full": 9999px,
  "tr-none": 0px,
  "tr-sm": 0.125rem, /* 2px */
  "tr": 0.25rem, /* 4px */
  "tr-md": 0.375rem, /* 6px */
  "tr-lg": 0.5rem, /* 8px */
  "tr-xl": 0.75rem, /* 12px */
  "tr-2xl": 1rem, /* 16px */
  "tr-3xl": 1.5rem, /* 24px */
  "tr-full": 9999px,
  "br-none": 0px,
  "br-sm": 0.125rem, /* 2px */
  "br": 0.25rem, /* 4px */
  "br-md": 0.375rem, /* 6px */
  "br-lg": 0.5rem, /* 8px */
  "br-xl": 0.75rem, /* 12px */
  "br-2xl": 1rem, /* 16px */
  "br-3xl": 1.5rem, /* 24px */
  "br-full": 9999px,
  "bl-none": 0px,
  "bl-sm": 0.125rem, /* 2px */
  "bl": 0.25rem, /* 4px */
  "bl-md": 0.375rem, /* 6px */
  "bl-lg": 0.5rem, /* 8px */
  "bl-xl": 0.75rem, /* 12px */
  "bl-2xl": 1rem, /* 16px */
  "bl-3xl": 1.5rem, /* 24px */
  "bl-full": 9999px,
);

// Generate classes for rounded corners
@each $name, $value in $rounded-corners {
  .rounded-#{$name} {
    border-radius: $value;
  }
}

// Generate classes for border widths
@each $name, $value in $border-widths {
  .border-#{$name} {
    border-width: $value;
  }
  .border-x-#{$name} {
    border-left-width: $value;
    border-right-width: $value;
  }
  .border-y-#{$name} {
    border-top-width: $value;
    border-bottom-width: $value;
  }
  .border-s-#{$name} {
    border-inline-start-width: $value;
  }
  .border-e-#{$name} {
    border-inline-end-width: $value;
  }
  .border-t-#{$name} {
    border-top-width: $value;
  }
  .border-r-#{$name} {
    border-right-width: $value;
  }
  .border-b-#{$name} {
    border-bottom-width: $value;
  }
  .border-l-#{$name} {
    border-left-width: $value;
  }
}
