$ring-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  8: 8px
);

:root {
  --tw-ring-offset-width: 0px; // Default value, can be overridden as needed
}

@each $width, $value in $ring-widths {
  .ring-#{$width} {
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(#{$value} + var(--tw-ring-offset-width)) var(--tw-ring-color);
  }
}

.ring-inset {
  --tw-ring-inset: inset;
}
